In [41]:
#list comprehension
#syntax: [expression for item in list]

#for loop
nums=[2,4,3,5,6,7]
sq=[]
for num in nums:
    sq.append(num**2)
print(sq)

[4, 16, 9, 25, 36, 49]

In [42]:
nums=[2,4,3,5,6,6]
print([num**2 for num in nums])

[4, 16, 9, 25, 36, 49]

In [43]:
#if with for loop
nums=[2,5,4,2,6,9]
sq=[]
for num in nums:
    if num%2==0:
        sq.append(num**2)
print(sq)

[4, 16, 4, 36]

In [44]:
nums=[2,5,4,2,6,9]
print([ num**2 for num in nums if num%2==0 ])

[4, 16, 4, 36]

In [45]:
#nested if
nums=[3,4,5,6,7,8,9]
sq=[]
for num in nums:
    if num%2==0:
        if num%3==0:
            sq.append(num**2) 
print(sq)

[36]

In [46]:
print([num**2 for num in nums if num%2==0 if num%3==0])

[36]

In [66]:
#nested if
nums=[2,5,6,3,7,4,9]
sq=[]
for num in nums:
    if num%2==0:
        sq.append(num*num)
    else:
        sq.append(num*num*num)
print(sq)

[4, 125, 36, 27, 343, 16, 729]

In [52]:

print([num*num if num%2==0 else num*num*num for num in nums])

[27, 16, 125, 36, 343, 64, 729]

In [59]:
#nested for loop
lst=[]
for i in range (3,6):
    for j in range (5,7):
        lst.append(i*j)
print(lst)

[15, 18, 20, 24, 25, 30]

In [57]:
print([i*j for i in range(3,6) for j in range (5,7)])

[15, 18, 20, 24, 25, 30]

In [65]:
# if-elif-else in list comprehension
nums=[0,3,4,-3,0,-5,8,-9]
status=[]
for num in nums:
    if num>0:
        status.append('positive')
    elif num<0:
        status.append("negative")
    else:
        status.append("zero")
print(status)

['zero', 'positive', 'positive', 'negative', 'zero', 'negative', 'positive', 'negative']

In [71]:
nums=[0,3,4,-3,0,-5,8,-9]
print(['positive' if num>0 else 'negative' if num>0 else 'zero' for num in nums])

['zero', 'positive', 'positive', 'zero', 'zero', 'zero', 'positive', 'zero']

In [2]:
data = []
for num in range(1,10):
    if num%2==0:
        data.append('even')
print(data)

['even', 'even', 'even', 'even']

In [3]:
print(["even" for num in range(1,10) if num%2==0])

['even', 'even', 'even', 'even']

In [4]:
data=[]
for num in range(1,10):
    if num%2==0:
        data.append("even")
    else:
        data.append("odd")
print(data)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [7]:
print(["even" if num%2==0 else "odd" for num in range(1,10) ])

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [11]:
#list comprehension --> if-elif-else

results=[]
marks=[75,97,89,63,66,78,90,94,86,98,50]
for m in marks:
    if m>=80 and m<=100:
        results.append("A")
    elif m>=70 and m<=80:
        results.append("B")
    elif m>=60 and m<=70:
        results.append("C")
    else:
        results.append("failed or Invalid Marks")
print(results)

['B', 'A', 'A', 'C', 'C', 'B', 'A', 'A', 'A', 'A', 'failed or Invalid Marks']

In [12]:
print(["A" if m>=80 and m<=100 else "B" if m>=70 and m<=80 else "C" if m>=60 and m<=70 else "failed or Invalid Mark" for m in marks])

['B', 'A', 'A', 'C', 'C', 'B', 'A', 'A', 'A', 'A', 'failed or Invalid Mark']

In [13]:
#Dictionary comprehension
#syntax {key:value for key,value in iterable}

nums=[1,2,3,4,5]
my_dict={}
for num in nums:
    my_dict[num]=num**2
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [14]:
print({num:num**2 for num in nums})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [15]:
nums=[1,2,3,4,5]
my_dict={}
for num in nums:
    if num%2==0:
        my_dict[num]=num**2
print(my_dict)

{2: 4, 4: 16}

In [16]:
print({num:num**2 for num in nums if num%2==0})

{2: 4, 4: 16}

In [18]:
str1="cOding"
my_dict={}
for char in str1:
    my_dict[char.upper()]=(ord(char),ord(char.swapcase()))
print(my_dict)

{'C': (99, 67), 'O': (79, 111), 'D': (100, 68), 'I': (105, 73), 'N': (110, 78), 'G': (103, 71)}

In [19]:
print({char.upper():(ord(char),ord(char.swapcase())) for char in str1})

{'C': (99, 67), 'O': (79, 111), 'D': (100, 68), 'I': (105, 73), 'N': (110, 78), 'G': (103, 71)}

In [23]:
#set comprehension
#syntax {expression for item in iterable}

nums=[1,2,2,2,5,6,7,8,9]
sq=set()
for num in nums:
    sq.add(num**2)
print(sq)

{64, 1, 4, 36, 49, 81, 25}

In [21]:
nums=[1,2,2,2,5,6,7,8,9]
print({n**2 for n in nums})

{64, 1, 4, 36, 49, 81, 25}